<!DOCTYPE html>
<html>
<head>
<title>Lista de Productos</title>
</head>
<body>
<h1>Lista de Productos</h1>
<ul>
    {{#each Productos}} 
    <li>
        <strong>{{title}}</strong><br>
        Descripción: {{description}}<br>
        Código: {{code}}<br>
        Precio: {{price}}<br>
        Categoría: {{category}}<br>
        Stock: {{stock}}<br>
    </li>
    {{/each}}
</ul>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>