<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <h1>Product List</h1>
    {{#each products}}
        <div class="product">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Price: ${{price}}</p>
            <p>Category: {{category}}</p>
            <button onclick="addToCart('{{_id}}')">Add to Cart</button>
        </div>
    {{/each}}

    <div class="pagination">
        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}">Next Page</a>
        {{/if}}
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}">Previous Page</a>
        {{/if}}
    </div>


</body>
</html>