<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <h1>Bienvenido </h1>
    <h3> - {{user.name}} - Edad:{{user.age}} - Email:{{user.email}} - Rol: "{{user.role}}"</h3>
<form action="/api/sessions/logout" method="POST">
    <button type="submit">Logout</button>
</form>
    <p><div>
    <h1>Products List</h1>
</div></p>
{{#each products}}
    <div class="products">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Price: ${{price}}</p>
        <p>Category: {{category}}</p>
        <button onclick="addToCart('{{_id}}')">Add to Cart</button>
    </div>
{{/each}}

    <div class="pagination">
        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}">Next Page</a>
        {{/if}}
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}">Previous Page</a>
        {{/if}}
    </div>


</body>
</html>